<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Acceuil</title>
</head>
<body>
    
    <div id="center">
        <form action="/inscription">
            <input class="btn" type="submit" value="Inscription">
        </form>

        <form action="/connexion">
            <input class="btn" type="submit" value="Connexion">
        </form>
    </div>

</body>
</html>