<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Web</title>
    <link rel="stylesheet" href="/style.css">
</head> 
<body>
    <header>  
    {% if user %}
    <a href="/deconnexion">Se déconnecter</a>
    {% else %}
    <div id="center">
        <form action="/inscription">
            <input class="btn" type="submit" value="Inscription">
        </form>

        <form action="/connexion">
            <input class="btn" type="submit" value="Connexion">
        </form>
    </div>
    {% endif %}
    

</header>
    
    <div id="main">

       <div id="sous">

       </div> 
       
    </div>

    <script src="/client.js"></script>
</body>
</html>